# Archivos temporales
*~
*.swp
*.swo
*.tmp
*.temp
.DS_Store

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Entornos virtuales
venv/
env/
ENV/

# Power BI
*.pbix

# Archivos grandes (si hay alguno)
# *.csv
# *.xlsx

# Logs
*.log

# Directorios que no deben ser incluidos
# temp/
# cache/
